@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap&subset=cyrillic');

@font-face {
    font-family: "Gilroy";
    src: url("./src/fonts/Gilroy-ExtraBold.otf");
}

body {
    --lightgray: #F8F7F5;

    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 160%;
    font-family: "Open Sans", "Tahoma", sans-serif;
    text-align: center;

    background-color: var(--lightgray);
}




header {
    padding: 10px 0;
}

header > * {
    display: inline-block;
    vertical-align: middle;

    font-size: 0.7em;
    line-height: 90%;
    text-transform: lowercase;
}

header > *,
header nav > a {
    margin-right: 70px;
}

header > *:last-child,
header nav > a:last-child {
    margin-right: 0;
}

header nav {
    margin-bottom: 0.2%;
}

header a {
    text-decoration: none;
}




.content-wrapper,
main {
    width: 100%;

    background-color: white;
}

/*TODO: создать класс вместо .content для параметров display, width, max-width,
   чтобы применить его к header*/

.content {
    display: inline-block;
    width: 80%;
    max-width: 1024px;
    padding-top: 40px;
    padding-bottom: 80px;

    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: "Gilroy", "Tahoma", sans-serif;
}

h2,
h3 {
    font-weight: bold;
    color: #BFB363;
    text-transform: uppercase;
}

h1 {
    margin: 0 0 20px 0;

    font-size: 330%;
    line-height: 110%;
}

h2 {
    margin-top: 60px;
}

h3 {
    margin-top: 30px;

    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.secondary,
.secondary a,
.date {
    color: #777777;
}

ul {
    padding: 0;
}

ul li {
    margin-bottom: 24px;

    list-style: none;
}

.cv-heading {
    margin-bottom: 50px;
}

.cv-heading p,
.cv-heading p a,
a {
    color: black;
}

a:not([class="current-page"]):hover {
    opacity: 0.5;
}

a.current-page {
    opacity: 0.5;
    cursor: default;
}

@media (max-width: 1024px) {
    .cv-heading {
        text-align: center;
    }
}

.photo,
.title {
    display: inline-block;

    vertical-align: middle;
}

.photo {
    --photo-size: 150px;
    width: var(--photo-size);
    height: var(--photo-size);
    margin-right: 20px;

    border-radius: 50%;
}

@media (max-width: 585px) {
    header > *,
    header nav > a {
        margin-right: 30px;
    }

    h1 {
        font-size: 220%;
        line-height: 100%;
    }

    h1.blog-title {
        padding: 80px 20px;
    }

    main > * {
        padding: 30px 20px 0;
    }

    .photo {
        width: calc(var(--photo-size)/1.2);
        height: calc(var(--photo-size)/1.2);
        margin-bottom: 18px;
    }
}

.contacts {
    margin: 0;

    font-style: italic;
    font-size: 80%;
    line-height: 160%;
    white-space: pre-wrap;
}

ul.contacts {
    white-space: normal;
}

ul.contacts li.icons {
    white-space: pre-wrap;
}

.contacts img {
    vertical-align: middle;
    width: 18px;
}

.date {
    display: block;

    font-style: italic;
    font-size: 70%;
}

.main-education {
    padding: 20px;

    background-color: #F8F7F5;
    color: black;
}


/* BLOG */

main {
    box-sizing: border-box;
}

h1.blog-title {
    margin: 0;
    padding: 80px 40px;

    text-align: center;
}

h1.blog-title.light {
    color: white;
}

h1.blog-title.dark {
    color: black;
}

h1.blog-title.buro {
    background: url("./blog/buro/cover.jpg") no-repeat center center;
}

main h2 {
    margin-top: 30px;
    color: black;
}



main {
    text-align: left;
    padding-bottom: 80px;
}

main > * {
    box-sizing: border-box;
    padding: 30px 30px 0;
    margin: 0;
}

main p img.float-left {
    display: block;
    float: left;
    padding-right: 20px;
    height: 80px;
}

main p.cite,
main figure figcaption {
    color: gray;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.8rem;
}

main ol,
main ul {
    padding-left: 70px;
    padding-right: 70px;
}

main ul li {
    margin-bottom: 10px;
}

main img {
    max-width: 100%;
}

main figure {
    padding: 0;
    margin: 30px 40px 0;
    width: fit-content;

    background-color: var(--lightgray);
}

main figure figcaption {
    padding: 0 10px 10px;

    text-align: center;
}